------------------------------------------------------------
-- CREATE DATABASE (default file locations will be used)
------------------------------------------------------------
IF DB_ID('OnlineStoreDB') IS NULL
BEGIN
    CREATE DATABASE OnlineStoreDB;
END
GO

USE OnlineStoreDB;
GO

------------------------------------------------------------
-- TABLE: Users
------------------------------------------------------------
CREATE TABLE Users (
    UserID INT IDENTITY(1,1) PRIMARY KEY,
    Username NVARCHAR(50) NOT NULL UNIQUE,
    PasswordHash NVARCHAR(255) NOT NULL,
    Email NVARCHAR(255) NOT NULL UNIQUE,
    Role NVARCHAR(50) NOT NULL,
    FirstName NVARCHAR(100) NULL,
    LastName NVARCHAR(100) NULL
);
GO

------------------------------------------------------------
-- TABLE: Categories
------------------------------------------------------------
CREATE TABLE Categories (
    CategoryID INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL,
    Description NVARCHAR(255) NULL
);
GO

------------------------------------------------------------
-- TABLE: Products
------------------------------------------------------------
CREATE TABLE Products (
    ProductID INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(200) NOT NULL,
    Description NVARCHAR(MAX) NULL,
    Price DECIMAL(10,2) NOT NULL,
    StockQuantity INT NOT NULL DEFAULT 0,
    CategoryID INT NOT NULL,
    ImagePath NVARCHAR(260) NULL,

    CONSTRAINT FK_Products_Categories
        FOREIGN KEY (CategoryID) REFERENCES Categories(CategoryID)
);
GO

------------------------------------------------------------
-- TABLE: Orders
------------------------------------------------------------
CREATE TABLE Orders (
    OrderID INT IDENTITY(1,1) PRIMARY KEY,
    UserID INT NOT NULL,
    OrderDate DATETIME2 NOT NULL DEFAULT SYSDATETIME(),
    TotalAmount DECIMAL(10,2) NOT NULL,
    OrderStatus NVARCHAR(50) NOT NULL,

    CONSTRAINT FK_Orders_Users
        FOREIGN KEY (UserID) REFERENCES Users(UserID)
);
GO

------------------------------------------------------------
-- TABLE: OrderItems
------------------------------------------------------------
CREATE TABLE OrderItems (
    OrderItemID INT IDENTITY(1,1) PRIMARY KEY,
    OrderID INT NOT NULL,
    ProductID INT NOT NULL,
    Quantity INT NOT NULL CHECK (Quantity > 0),

    CONSTRAINT FK_OrderItems_Orders
        FOREIGN KEY (OrderID) REFERENCES Orders(OrderID),

    CONSTRAINT FK_OrderItems_Products
        FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
);
GO

------------------------------------------------------------
-- TABLE: ShoppingCartItems
------------------------------------------------------------
CREATE TABLE ShoppingCartItems (
    ShoppingCartItemID INT IDENTITY(1,1) PRIMARY KEY,
    UserID INT NOT NULL,
    ProductID INT NOT NULL,
    Quantity INT NOT NULL CHECK (Quantity > 0),

    CONSTRAINT FK_ShoppingCartItems_Users
        FOREIGN KEY (UserID) REFERENCES Users(UserID),

    CONSTRAINT FK_ShoppingCartItems_Products
        FOREIGN KEY (ProductID) REFERENCES Products(ProductID),

    CONSTRAINT UQ_ShoppingCartItems_User_Product UNIQUE (UserID, ProductID)
);
GO

------------------------------------------------------------
-- TABLE: ShippingAddresses
------------------------------------------------------------
CREATE TABLE ShippingAddresses (
    AddressID INT IDENTITY(1,1) PRIMARY KEY,
    UserID INT NOT NULL,
    AddressLine1 NVARCHAR(200) NOT NULL,
    AddressLine2 NVARCHAR(200) NULL,
    City NVARCHAR(100) NOT NULL,
    State NVARCHAR(100) NULL,
    ZipCode NVARCHAR(20) NOT NULL,
    Country NVARCHAR(100) NOT NULL,

    CONSTRAINT FK_ShippingAddresses_Users
        FOREIGN KEY (UserID) REFERENCES Users(UserID)
);
GO

------------------------------------------------------------
-- TABLE: Payments
------------------------------------------------------------
CREATE TABLE Payments (
    PaymentID INT IDENTITY(1,1) PRIMARY KEY,
    OrderID INT NOT NULL,
    PaymentDate DATETIME2 NOT NULL DEFAULT SYSDATETIME(),
    Amount DECIMAL(10,2) NOT NULL,
    PaymentMethod NVARCHAR(50) NOT NULL,

    CONSTRAINT FK_Payments_Orders
        FOREIGN KEY (OrderID) REFERENCES Orders(OrderID)
);
GO
